<div class="about">
  <div class="about--section">
    <h2 class="heading about--subtitle">Competições</h2>
    <div class="about--section-body">
      <div class="about--subsection about--subsection-description">
        <p>
          Nós treinamos para uma das principais competições na área de segurança
          da informação: as <b>Capture The Flag</b> (CTFs).
        </p>
        <p>
          Nosso guia introdutório de CTFs e resoluções de desafios que fizemos
          se encontram na nossa
          <a href="https://wiki.imesec.ime.usp.br/">wiki</a>.
        </p>
      </div>
      <a
        href="https://docs.google.com/spreadsheets/d/15mpOJbCXIY-_KK6uZ9n6FOHjjGzNkjG80uyHnd5iOrA/edit#gid=1980769273"
        class="about--subsection about--subsection-image"
      >
        {% include ctf-logo.html %}
      </a>
    </div>
  </div>

  <div class="about--section">
    <h2 class="heading about--subtitle">Palestras e workshops</h2>
    <div class="about--section-body">
      <div class="about--subsection">
        <div class="about--subsection-description">
          <p>
            Nós realizamos diversas palestras e workshops. Um deles é o
            <b>Hacker Starter Course</b>, um curso introdutório sobre segurança
            e <i>hacking</i>.
          </p>
          <p>
            Você pode conferir esses <a href="lectures.html">materiais</a> na
            nossa página, ou no nosso
            <a href="https://www.youtube.com/channel/UCl5XIpbR_7NsCakv5qkiOyw"
              >canal no YouTube</a
            >.
          </p>
        </div>
      </div>
      <a href="lectures.html" class="about--subsection about--subsection-image">
        {% include hacker-starter-course.html %}
      </a>
    </div>
  </div>

  <div class="about--section">
    <h2 class="heading about--subtitle">WikiSEC</h2>
    <div class="about--section-body">
      <div class="about--subsection">
        <div class="about--subsection-description">
          <p>
            Além de materiais sobre CTFs, temos vários outros artigos em nossa
            <a href="https://wiki.imesec.ime.usp.br/">wiki</a>. Você pode
            encontrar conteúdo sobre criptografia, servidores e até programação.
          </p>
        </div>
      </div>
      <a
        href="https://wiki.imesec.ime.usp.br/"
        class="about--subsection about--subsection-image"
      >
        {% include wiki-logo.html %}
      </a>
    </div>
  </div>

  <div class="about--section">
    <h2 class="heading about--subtitle">Lightning Hacks</h2>
    <div class="about--section-body">
      <div class="about--subsection">
        <div class="about--subsection-description">
          <p>
            Organizamos um evento de apresentações relâmpago que quebram
            paradigmas. Seus temas vão muito além não só de segurança mas também de computação e qualquer um pode se apresentar.
          </p>
          <p>
            Veja mais sobre a iniciativa no
            <a href="http://lh.imesec.ime.usp.br">site</a> do LH.
          </p>
        </div>
      </div>
      <a
        href="http://lh.imesec.ime.usp.br"
        class="about--subsection about--subsection-image"
      >
        {% include lh-logo.html %}
      </a>
    </div>
  </div>

  <div class="about--meetings">
    <h2 class="heading">&gt; Venha participar dos nossos encontros!</h2>
    <p>
      A partir do dia 15 de outubro de 2021 voltaremos a ter reuniões semanais!
	  <br/>
	  Elas acontecerão toda sexta-feita, das 17h as 20h no nosso
      <a href="https://discord.gg/ssVPqqR"><b>Discord</b></a>.
    </p>
    <span class="about--line"></span>
  </div>
  <div class="about--social-media">
    <p>
      Acompanhe-nos nas redes sociais:
    </p>
    <div class="about--social-media-icons">
      <div class="about--social-media-icon">
        <a href="https://www.facebook.com/imesec/">
          {% include fb-logo.html %}
        </a>
      </div>
      <div class="about--social-media-icon">
        <a href="https://t.me/joinchat/B9vLqUkNHrsd5cDUfiYIpQ">
          {% include telegram-logo.html %}
        </a>
      </div>
      <div class="about--social-media-icon">
        <a href="https://www.youtube.com/channel/UCl5XIpbR_7NsCakv5qkiOyw">
          {% include youtube-logo.html %}
        </a>
      </div>
      <div class="about--social-media-icon">
        <a href="https://github.com/IMESec-USP/">
          {% include github-logo.html %}
        </a>
      </div>

      <div class="about--social-media-icon">
        <a href="mailto:imesec@ime.usp.br">
          {% include email-logo.html %}
        </a>
      </div>
    </div>
  </div>
</div>
