<div class="header" id="header">
  <a class="heading mobile-visible header--link" href="https://wiki.imesec.ime.usp.br/">
    Wiki
  </a>
  <a class="heading mobile-visible header--link" href="https://docs.google.com/spreadsheets/d/15mpOJbCXIY-_KK6uZ9n6FOHjjGzNkjG80uyHnd5iOrA/edit#gid=1980769273">
    Planilha
  </a>
  <a class="heading mobile-hidden header--link" href="lectures.html">
    Palestras
  </a>
  <a class="heading mobile-hidden header--link" href="https://imesec.ime.usp.br/public/">
    Public
  </a>
  <div class="mobile-visible header--menu">
    {% include hamburger-menu.html %}
  </div>
</div>
