<div class="header" id="header">
  <a class="heading mobile-visible header--link" href="https://wiki.imesec.ime.usp.br/">
    Wiki
  </a>
  <a class="heading mobile-visible header--link" href="https://docs.google.com/spreadsheets/d/1RpfErltK5QNpjW20GzJra1z96cicVePL/edit?usp=drive_link">
    Planilha
  </a>
  <a class="heading mobile-hidden header--link" href="/posts/">
    Postagens
  </a>
  <a class="heading mobile-hidden header--link" href="lectures.html">
    Palestras
  </a>
  <div class="mobile-visible header--menu">
    {% include hamburger-menu.html %}
  </div>
</div>
