<div class="splash">
  {% include header.html %}

  <div class="splash--imesec-logo">
    {% include imesec-logo.html %}
    <p class="splash--subtitle heading">
      Grupo de segurança da informação do IME-USP
    </p>
  </div>

  <div class="splash--social-media-icons">
    <div class="splash--social-media-icon">
      <a href="https://www.facebook.com/imesec/">
        {% include fb-logo.html %}
      </a>
    </div>
    <div class="splash--social-media-icon">
      <a href="https://t.me/+lAnwvCgVR0kwZDlh">
        {% include telegram-logo.html %}
      </a>
    </div>

    <div class="splash--social-media-icon">
      <a href="https://www.youtube.com/channel/UCl5XIpbR_7NsCakv5qkiOyw">
        {% include youtube-logo.html %}
      </a>
    </div>
    <div class="splash--social-media-icon">
      <a href="https://github.com/IMESec-USP/">
        {% include github-logo.html %}
      </a>
    </div>

    <div class="splash--social-media-icon">
      <a href="mailto:imesec@ime.usp.br">
        {% include email-logo.html %}
      </a>
    </div>
  </div>
</div>
