.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #eee;
  background-color: #000;
  font-size: 1em;
  padding: 2em 1em;
}

.post--header {
  align-self: flex-end;
  margin: 1em 2em;
  font-size: 1em;

  a {
    font-size: 1.5em;
    text-decoration: none;
  }
}

.post--title {
  font-size: 3em;
  margin: 1em 0;
  text-align: center;
  color: #fff;
}

.post--meta {
  font-size: 1em;
  color: #888;
  margin-bottom: 1em;
  text-align: center;
}

.post--content {
  max-width: 50em;
  width: 90%;
  line-height: 1.7;
  color: #ccc;

  h2, h3, h4 {
    color: #fff;
    margin-top: 1.5em;
  }

  p {
    margin-bottom: 1em;
  }

  a {
    color: #99ccff;
    text-decoration: underline;

    &:hover {
      color: #fff;
    }
  }

  img {
    max-width: 100%;
    height: auto;
    margin: 1em auto;
    display: block;
  }

  pre, code {
    background-color: #111;
    padding: 0.5em;
    border-radius: 4px;
    font-family: monospace;
    overflow-x: auto;
  }
}

.post--tags {
  margin-top: 2em;
  font-size: 0.9em;
  color: #aaa;
  text-align: center;

  .tag {
    font-style: italic;
    color: #888;
  }
}
